:root{
    --header: #26292e;
    --topback: #e7718b;
    --middleback: #f4f4f6;
    --botback: white;
    --text: #d9d9da;
    --headerText:'Pacifico', cursive;
    --subtext:'Courgette', cursive;
}
/* general rules */
.header{
    background-color: var(--header);
}
.logo{
    color: white;
    font-family: var(--headerText);
}
.top-main{
    background-color: var(--topback);
}
.middle-main{
    background-color: var(--middleback);
}
.lower-main{
    background-color: var(--botback);
}
.footer{
    background-color: var(--header);
}
li{
    list-style-type: none;
}
ul{
    padding:0px;
}
/* end of general rules */
.name{
    font-size: 20px;
    font-weight: bold;
}
.colophon{
    color:white;
}
.top-main .sub-header{
    color: white;
}
.main .text{
    color: silver;
}
.header-with-img{
    font-family: sans-serif;
}
.middle-main{
    border-bottom: 10px solid pink;
}
/* Media qurey */
@media (min-width:301px) and (max-width:575px) {
    .mgimage{
        margin: 20px 0px 0px 120px;
    }
}
/* Small rules
-Put margin at top to space header and icon
-At top-main add margin between buttons
-make laptop slightly larger
-give mgimage margin bot or top
headerwithimg needs margin to space between
*/
@media (min-width:576px) and (max-width:767px) {
    .mgimage{
        margin: 20px 0px;
    }
}
@media (min-width:576px) and (max-width:767px) {
    .button{
        margin: 0px 20px;
    }
}
@media (min-width:576px) and (max-width:767px) {
    .header-with-img{
        margin: 20px 0px;
    }
}
@media (min-width:576px) and (max-width:767px) {
    .landing-image{
        margin: 20px 0px;
        width: 70%;
    }
}
/* MED rules 
    add margin to top-main so it is not on top of middle main
    margin to landing image so its more centered 
    margin buttons and space them
    margin images
    margin sub headers
    margin on header text cliping through
    icons at footer margin top or give it to colophon
    */
@media (min-width:768px) and (max-width:991px) {
    .landing-image{
        margin: 25% 0px 0px 0px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .button{
        margin: 10px 10px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .mgimage{
        margin: 20px 0px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .logo{
        margin: 20px 0px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .header .icon{
        margin: 45px 0px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .footer .icon{
        margin: 45px 0px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .colophon{
        margin: 50px 0px;
    }
}
/* LG rules
    make landing image larger by a good bit
    margin in the same places as last time 
    making mgimages take up more space by centering them */
@media (min-width:992px) and (max-width:1199px) {
    .colophon{
        margin: 50px 0px;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .footer .icon{
        margin: 50px 0px;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .landing-image{
        margin: 45px 0px 0px 0px;
        width: 80%;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .mgimage{
        margin: 125px 0px 0px 0px;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .button{
        margin: 20px 10px 20px 0px;
    }
}
@media (min-width:1200px) and (max-width:1400px) {
    .colophon{
        margin: 50px 0px;
    }
}
@media (min-width:1200px) and (max-width:1400px) {
    .footer .icon{
        margin: 50px 0px;
    }
}
@media (min-width:1200px) and (max-width:1400px) {
    .landing-image{
        margin: 45px 0px 0px 0px;
        width: 80%;
    }
}
@media (min-width:1200px) and (max-width:1400px) {
    .mgimage{
        margin: 70px 0px 0px 0px;
    }
}
@media (min-width:1200px) and (max-width:1400px) {
    .button{
        margin: 20px 10px 20px 0px;
    }
}
/* end */

/* ICON STUFF */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
    font-size: 32px;
    color: red;
}
  ========================================== */
.icon{
    color: black;
    font-size: 40px;
}
.icon-search{
    width: 225px;
    height: 120px;
    color: white;
    background: black;
    border: 4px solid grey;
    padding: 20px;
}
.header .icon{
    background-color: white;
    border:1px solid white;
    border-radius: 75%
}
.footer .icon{
    background-color: white;
    border:1px solid white;
    border-radius: 75%
}
/* End of ICON STUFF */